*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,black);
    border-radius: 6px;
}
::selection {
    color: #140a0a;
    text-shadow: 0 0 5px #301919, 0 0 5px #e7e7e7;
    background: transparent !important;
    overflow: visible;
  }
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#fff,#000);
}
#navbar{
    /* background-color:#2a334e; */
    width: 100%;
    top: 0px;
    margin: 0px;
    z-index: 1;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    background: linear-gradient(187deg, black, transparent);
    font-size: x-large;
}
#navbar ul{
    display: flex;
    margin: 0px 0px;
    justify-content: flex-end;
    align-items: center;
}
#navbar ul li {
    padding: 10px 40px;
    list-style: none;
}
#navbar ul li a{
    color: rgb(255, 253, 253);
    text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(182 200 203);
    text-decoration: underline;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.logo img{
    margin: 0px 5px;
    height: 100px;
    width: 100px;
}
.Firstsec{
    /* background-color: white; */
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    /* background-color: black; */
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    /* background: #ccc; */
    transform: rotate(0deg);
    transition: 1s ease-in-out;
}
.feature img{
    width: 70px;
    filter: invert(100%);
}
.feature{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.feature div{
    margin-bottom: 30px;
}
.icon-name a{
    text-decoration: none;
    color: #fff;
    margin-top: 8px;
}
.one{
    top: 450px;
    right: 50px;
}
.two{
    top: 50px;
    left: 450px;
    transform: rotate(-90deg);
}
.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}
.four{
    bottom: 50px;
    right: 450px;
    transform: rotate(-270deg);
}
.gear{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 36%;
    /* transform: translateY(-50%); */
    transform: rotate(0deg);
    z-index: 1;
    transition: 1s ease-in-out all;
}
.controls{
    text-align: center;
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
#upbtn{
    width: 15px;
    cursor: pointer;
}
#downbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border-top: 500px solid #fff;
    border-right: 540px solid #777;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0px;
    top: 0px;
}
.subsystem_technical{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#000,#fff);
}
.secondsec {
    background-color: white;
    width: 940px;
    height: 1000px;
    position: absolute;
    top: 50%;
    right: -12%;
    transform: translateY(-50%);
}
#circle2{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    right: 90px;
    border-radius: 50%;
    /* background: #ccc; */
}
.subArea_tech{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    height: 50vh;
    width: 50vh;
    position: absolute;
    transform: translateX(50%) translateY(50%);
    color: white;
    font-size: large;
    
}
.heading{
    padding: 35px 0px;
}
.subimg_tech {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* border: 2px solid black; */
    /* border-radius: 0%; */
    left: 113%;
    top: -90%;
    /* flex-direction: column; */
}
.techimg {
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    /* top: 39%; */
    border-radius: 50%;
}
.subArea_graphics{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: large;
    
}
.thirdsec{
    background-color: white;
    width: 940px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -14%;
    transform: translateY(-50%);
}
.subsystem_graphics{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#fff,#000);
}
#circle3{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 90px;
    border-radius: 50%;
}
.subimg_graphics{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -112px;
    bottom: -150px;
}
.graphicsimg{
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    /* top: 39%; */
    border-radius: 50%;
}
.para_graphics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 100px 350px;
    margin: 30px 80px;
    position: absolute;
    left: 25%;
}
.subArea_socialMedia{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 19%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: large;
    
}
.fourthsec{
    background-color: white;
    width: 940px;
    height: 1000px;
    position: absolute;
    top: 50%;
    right: -14%;
    transform: translateY(-50%);
}
.subsystem_socialMedia{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#000,#fff);
}
#circle4{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 90px;
    border-radius: 50%;
}
.subimg_socialMedia{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -65px;
    bottom: -150px;
}
.socialMediaimg{
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    /* top: 39%; */
    border-radius: 50%;
}
.para_socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 100px 350px;
    margin: 30px 80px;
    position: absolute;
    right: 19%;
}
.subArea_Research{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: large;
    
}
.fifthsec{
    background-color: white;
    width: 940px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -14%;
    transform: translateY(-50%);
}
.subsystem_Research{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#fff,#000);
}
#circle5{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 90px;
    border-radius: 50%;
}
.subimg_Research{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -112px;
    bottom: -150px;
}
.Researchimg{
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    /* top: 39%; */
    border-radius: 50%;
}
.para_Research{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 100px 350px;
    margin: 30px 80px;
    position: absolute;
    left: 25%;
}
.subArea_Research{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 19%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: large;
    
}
.board{
    z-index: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    background: #262626;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.swiper {
    width: 70%;
    height: 75vh;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: #fff; */
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 440px;
    background: #fff;
}
.swiper-slide .imgBox{
    overflow: hidden;
}
.imgBox img {
    display: block;
    width: 300px;
    height: 370px;
}
.swiper-slide .details{
    box-sizing: border-box;
    padding: 15px;
}
.swiper-slide .details h3{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}
.swiper-slide .details h3 span{
    font-size: 16px;
    color: #f44336;
}
.info{
    text-align: center;
}
.navcontent{
    display: flex;
    padding: 5px;
}
.navHeading{
    padding: 0px 0px 10px;
}
.contacts{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
}
.socialmedia{
    width: 50%;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat{
    line-height: 2.5;
}
#foot{
    width: 100%;
    height: 31vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
    flex-direction: column;
}